body {
    background: #f2f7ff;
    font-family: Arial, sans-serif;
    padding: 20px;
}

#contenedor-principal {
    width: 80%;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.titulo {
    color: #c86aff;
    text-align: center;
    font-size: 32px;
}

.resaltado {
    color: #8000ff;
    font-weight: bold;
}

.seccion {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.razones, .contenedor-tabla {
    flex: 1;
    min-width: 300px;
}

.razones {
    background: #f7e3ff;
    margin-top: 10px;
    border-radius: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;

}

table, th, td {
    border: 1px solid #777;
}

th {
    background: #f7e3ff;
    padding: 8px;
    text-align: left;
}

td {
    padding: 8px;
}

.imagen1 {
    width: 300px;
    height: auto;
    margin-top: 15px;
    margin-left: 35%;
    display: block;
}
